<div class="summary-card">
  
  <div class="summary-fila">
    <span>Artículos ({{ displayCount }})</span>
    <span class="precio-verde">{{ displaySubtotal }} MXN</span>
  </div>

  <div class="summary-fila">
    <span>Costo de envio</span>
    <span class="precio-verde">{{ shipping }} MXN</span>
  </div>

  <div class="summary-fila total">
    <strong>Total</strong>
    <strong class="precio-verde">{{ displayTotal }} MXN</strong>
  </div>

</div>

<div class="contenedor-boton-pagar">
  <button class="boton-pagar">Finalizar Pedido</button>
</div>