<div class="top-bar">
  <input class="search-bar" type="text" placeholder="Buscar...">
</div>

<div class="filter-buttons">
  <button class="filter-button" 
          [class.active]="selectedCategory === 0" 
          (click)="filterFoods(0)">
    Todos
  </button>

  <button class="filter-button" 
          [class.active]="selectedCategory === 1" 
          (click)="filterFoods(1)">
    El Punto
  </button>

  <button class="filter-button" 
          [class.active]="selectedCategory === 2" 
          (click)="filterFoods(2)">
    Facultad de Sistemas
  </button>

  <button class="filter-button" 
          [class.active]="selectedCategory === 3" 
          (click)="filterFoods(3)">
    Facultad de Música
  </button>
</div>

<div class="cafe-banner">
  <img class="cafe-imagen" src="assets/images/Foto cafeteria.png" alt="Cafetería">
  <h2 class="cafe-nombre">cafetería</h2>
  <p class="cafe-horario">Horario: 8:10 - 21:10</p>
</div>

<div class="product-list">
  <app-product-card 
    *ngFor="let item of displayedFoods" 
    [food]="item" 
    (added)="updateCartCount()"> 
  </app-product-card>
</div>

<a routerLink="/equipo4/carrito" class="fab-carrito">
  <span style="font-size: 24px;">🛒</span>
  <span class="badge-contador" *ngIf="cartCount > 0">{{ cartCount }}</span>
</a>

<div class="bottom-nav">
  <div class="nav-item">
    <span>🍕</span>
    <span>Comida</span>
  </div>
  <div class="nav-item">
    <span>🍴</span>
    <span>Comida</span>
  </div>
  <div class="nav-item active">
    <span>☕</span>
    <span>Comida</span>
  </div>
  
  <a routerLink="/equipo4/pedidos" class="nav-item">
    <span>📦</span>
    <span>Pedidos</span>
  </a>
</div>