<div class="filter-buttons">
  <button class="filter-button" *ngFor="let s of standFilters" [class.active]="selectedCategory === s.id"
    (click)="filterFoods(s.id)">
    {{ s.name }}
  </button>

</div>

<div class="cafe-banner">
  <img class="cafe-imagen" src="assets/images/Foto cafeteria.png" alt="Cafetería">
  <h2 class="cafe-nombre">cafetería</h2>
  <p class="cafe-horario">Horario: 8:10 - 21:10</p>
</div>

<div class="product-list">
  <app-product-card *ngFor="let item of displayedFoods" [food]="item" (added)="updateCartCount()">
  </app-product-card>
</div>

<a routerLink="/equipo4/carrito" class="fab-carrito">
  <span style="font-size: 24px;">🛒</span>
  <span class="badge-contador" *ngIf="cartCount > 0">{{ cartCount }}</span>
</a>

<a *ngIf="hasOrders" routerLink="/equipo4/pedidos" class="btn-pedidos-mobile">Pedidos</a>

<div class="bottom-nav">
  <a routerLink="/equipo1" class="nav-item">
    <span>Equipo 1</span>
  </a>
  <a routerLink="/equipo2" class="nav-item">
    <span>Equipo 2</span>
  </a>
  <a routerLink="/equipo3" class="nav-item">
    <span>Equipo 3</span>
  </a>
  <a routerLink="/equipo4" class="nav-item">
    <span>Equipo 4</span>
  </a>
</div>