.container{
	display: flex;
	flex-direction: column; /* coloca el banner arriba y el layout debajo */
	gap: 1rem;
	width: 1200px;
}


[class~=layout] {
	display: grid;
	width: 100%;
	grid-template-columns: 280px 1fr;
	gap: 2rem;
	padding: 0 2rem 1.5rem; /* quitar padding superior para que el banner se vea pegado arriba */
}

.left {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.left {
	align-self: start;
}

@media (max-width: 1024px) {
	[class~=layout] {
		grid-template-columns: 240px 1fr;
	}
}


.btn_container {
  display: flex;
  height: 50px;
	width: 100%;
	padding: 0 150px;
  position: fixed;
	bottom: 100px;
	justify-content: end;
}

.btn_cart{
	height: 60px;
	width: 60px;
	aspect-ratio: 1/1;
  padding: 10px;
	aspect-ratio: 1/1;
  border-radius: 100%;
	border: none;
	background-color: #EE001C;
	cursor: pointer;
}

.space_btn_container{
	display: inline-block;
	width: 100%;
	height: 150px;
}